<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Школьный дневник</title>
    <th:block th:insert="fragments/imports :: head"></th:block>
    <th:block th:insert="fragments/imports :: student-liks-student"></th:block>
</head>
<body>
<th:block th:insert="fragments/components :: nav"></th:block>
<div class="main-wrapper">
    <div class="row form-basic mt-3 justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12">
            <div id="profile_id" th:text="${student_id}"></div>
            <!--            <button type="button" onclick="getStudentDetails()" class="btn btn-primary">getStudentDetails</button>-->
            <h4>Профиль студента:</h4>
            <div class="input-group mb-3">
                <input type="text" id="id-details" class="form-control rounded-right" placeholder="id" disabled="true"
                       value="идентификатор теста">
                <div class="valid-feedback">
                    Хорошо!
                </div>
                <div class="invalid-feedback">
                    Пожалуйста, введите имя
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="first-name-details" class="form-control rounded-right" placeholder="имя"
                       disabled="true" value="тестовое имя">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Пожалуйста, введите имя
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="last-name-details" class="form-control rounded-right" placeholder="название"
                       disabled="true" value="тестовое название">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Пожалуйста, введите название
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" id="email-details" class="form-control rounded-right" placeholder="почта"
                       disabled="true" value="тестовая почта">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Пожалуйста, укажите действительный адрес электронной почты
                </div>
            </div>
            <label for="birth-date-details" class="form-label">Дата рождения</label>
            <div class="input-group mb-3">
                <input type="date" id="birth-date-details" class="form-control datepicker rounded-right"
                       placeholder="дата рождения" min="1960-01-01" max="2005-12-31" disabled="true"
                       value="2005-12-31">
                <div class="valid-feedback">
                    Ok!
                </div>
                <div class="invalid-feedback">
                    Пожалуйста, укажите правильную дату рождения (1960-2005)
                </div>
            </div>
            <!--            MODAL-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-grade-modal">
                Добавить оценку
            </button>
            <!-- Modal -->
            <div class="modal fade" id="add-grade-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавить оценку</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="add-grade-value">Выберите оценку</label>
                                <select class="form-control" id="add-grade-value">
                                    <option th:each="grade : ${grades}" th:text="${grade}" th:value="${grade}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="add-grade-subject1">Выберите предмет</label>
                                <select class="form-control" id="add-grade-subject1">
                                    <option>Английский язык</option>
                                    <option>Математика</option>
                                    <option>Наука</option>
                                    <option>История</option>
                                    <option>География</option>
                                    <option>Физическая культура</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="getStudentDetails()" class="btn btn-secondary"
                                    data-dismiss="modal">Закрыть
                            </button>
                            <button type="button" onclick="addGradeProfile()" data-dismiss="modal"
                                    class="btn btn-primary">Сохранить оценку
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-3">
            <div class="accordion" id="grades-accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Оценки:
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#grades-accordion">
                        <div class="accordion-body">
                            <div id="grade-list-empty" class="alert alert-warning" role="alert">у этого ученика нет
                                оценок...
                            </div>
                            <div id="grade-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="fragments/imports :: js_import"></th:block>
<script>
    getStudentDetails();
    populateProfile();
</script>
</body>
</html>